{% extends 'blogs/base.html' %}

{% block content %}

<div class="pt-5 bg-dark">    
    <div class="container bg-dark pt-4">
        
        <h1 class="text-light">Search Results</h1>
        <hr style="color:white;">
        <div class="row">
            {% if user.is_authenticated %}
            <div class="">
                <h3 class="text-warning">Hey, wanna drop a blog post today?</h3><span>
                <a href="{% url 'blogs:blog-form' %}" class="btn btn-outline-warning">Yes, I'm feeling creative!</a>
                </span>
            </div>
            {% endif %}
            <hr>
            {% for blog in blogs %}
            {% if blog.featured %}
            <div class="col-md-6 col-lg-4 py-2 bg-light border border-dark border-5">
                <img class="border border-warning border-1" style="width:100%; height:300px; object-fit:cover;" src="{{ blog.image.url }}">
                <h2>{{ blog.title }} <span style="font-size:10px;">FEATURED <i class="bi bi-check-circle-fill text-warning"></i></span></h2>
                <i><a style="text-decoration:none" class="text-warning" href="{% url 'profile' blog.author.username %}">{{blog.author}}</a></i>
                <p class="text-muted">{{ blog.teaser }}</p>
                <a href="{% url 'blogs:show-blog' pk=blog.pk %}" class="btn btn-warning">Read Blog</a>
            </div>
            {% else %}
                <div class="col-md-6 col-lg-4 py-2 bg-light border border-dark border-5">            
                    <img class="border border-warning border-1" style="width:100%; height:300px; object-fit:cover;" src="{{ blog.image.url }}">
                    <h2>{{ blog.title }}</h2>
                    <i><a style="text-decoration:none" class="text-warning" href="{% url 'profile' blog.author.username %}">{{blog.author}}</a></i>
                    <p class="text-muted">{{ blog.teaser }}</p>
                    <a href="{% url 'blogs:show-blog' pk=blog.id %}" class="btn btn-warning">Read Blog</a>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


{%endblock%}