{% extends 'users/base.html' %}

{% block content %}

<div class="container-lg bg-light text-center" 
    style="margin-top: 2rem; 
    padding-top: 80px; 
    padding-bottom: 8px;
    height: 80vh;">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-8 col-lg-6 rounded p-6">
            <form method="POST">
                {% csrf_token %}

                <div class="form-group row">
                    <label for="{{ form.username.id_for_label }}" class="col-sm-2 col-form-label">Username:</label>
                    <div class="col-sm-10">
                    {{ form.username }}
                    </div>
                </div><br>
                <div class="form-group row">
                    <label for="{{ form.password.id_for_label }}" class="col-sm-2 col-form-label">Password:</label>
                    <div class="col-sm-10">
                    {{ form.password }}
                    </div>
                </div>
                <br><br>
                <button type="submit" class="btn btn-warning">Let's Go!</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}